.dashboard-banner{
    margin:0;
    position:relative;
    bottom:5px;
    padding:0;
    height: auto;
    display:flex;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
}
.dashboard-text{
    position:relative;
    margin-top:10px;
    line-height: 35px;
    font-size:1.1em;
}
.user-credentials{
    float:left;
    padding:0;
    margin-bottom: 15%;
    width:50%;
    font-size: 0.9em;
    line-height: 35px;
    color:white;
}
.icon,.toggle-icon{
    margin:0;
    position: relative;
    text-align: center;
    font-size:3em;
    top:5px;
    padding-left:0;
    margin-right:25px;
    float:left;
    min-width:60px;
}
.hospital-name .user-name {
    padding:0;
    height:20px;
}
.sidebar-container{
    padding:0;
    margin:0;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:15%;
    box-sizing: initial;
}
.side-bar{
    margin:0;
    width:100%;
    height:100%;
    top:0px;
    left:5px;
    position: relative;
    display: block;
    overflow:hidden;
    padding-left: 0px;
    background-color: rgb(50, 20, 196);
    transition: width 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.side-bar.minimized{
  width:60px;
}
.side-bar li{
    list-style: none;
    line-height:5em;
    max-height: 5em;
    position: relative;
    width:100%;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    overflow: hidden;
}
.side-bar li:nth-child(1){
  border-bottom: 5px solid white;
}
.side-bar li a{
    text-decoration: none;
    width: 100%;
    position: relative;
    display: block;
    display: flex;
    color: white;
}
.side-bar li a .text{
  font-size: 1em;
  min-width:20%;
}
.side-bar li .option.active{
    color: black;
    background-color: white;
}
.side-bar li:hover a{
    background-color: white;
    color: black;
}
.side-bar li:hover a img{
    filter: brightness(0);
}
.side-bar li:hover a .link-icon i{
  color:black;
}
.link-icon-img{
    position: relative;
    min-width: 30px;
    border-collapse: collapse;
  }
.img-active{
    filter: brightness(0);
}
.link-icon{
  min-width: 60px;
  margin-top: 8px;
  font-size: 2em;
  margin-right:30px;
}
